.screen {
    width: 100%;
    height: 100%;

    .content {
        height: 100%;
        display: flex;

        .canvas{
            flex: 1;
        }
        .sidePanel {
            width: 400px;
        }
    }
}