.checkbox {
    height: 16px;
    width: 16px;
    margin: 2px;
    cursor: pointer;
    position: relative;

    border: 1px solid var(--color-black);
    border-radius: .4rem;
    padding: .3rem .2rem;
    background-color: var(--color-light-black);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.25);

    color: var(--color-light-gray);
    text-shadow: 2px 2px 1px rgba(0,0,0,.5);

    .icon {
        position: absolute;
        left: 0;
        top: 1px;
        width: 14px;
        height: 14px;
    }
}