.container {
    width: 100%;
    position: relative;

    cursor: pointer;

    &.isOpen {
        .select {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .options {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .select {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        height: 20px;

        border: 1px solid var(--color-black);
        border-radius: .4rem;
        font-size: 1.2rem;
        font-weight: 400;
        padding: .2rem .6rem;
        background-color: var(--color-gray);
        box-shadow: 2px 2px 1px rgba(0,0,0,.25);

        color: var(--color-light-gray);
        text-shadow: 2px 2px 1px rgba(0,0,0,.125);

        user-select: none;

        .label {
            flex: 1;

            cursor: pointer;
        }

        .icon {
            width: 1.2rem;
            height: 1.2rem;

        }
    }

    .options {
        position: absolute;
        z-index: 100;
        display: flex;
        flex-direction: column;

        width: 100%;

        cursor: pointer;

        background-color: var(--color-gray);
        box-shadow: 2px 2px 1px rgba(0,0,0,.25);
        border: 1px solid var(--color-black);
        border-top: 0;
        border-radius: .4rem;

        .option {
            cursor: pointer;
            user-select: none;

            padding: .2rem .6rem;
            border-bottom: 1px solid var(--color-dark-gray);

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}